html {
    --lumo-primary-color: hsl(0, 0%, 0%);
    --lumo-primary-text-color: rgb(0, 0, 0);
    --lumo-primary-color-50pct: rgba(0, 0, 0, 0.5);
    --lumo-primary-color-10pct: rgba(0, 0, 0, 0.1);
    --lumo-font-size: 1rem;
    --lumo-font-size-xxxl: 3rem;
    --lumo-font-size-xxl: 2.25rem;
    --lumo-font-size-xl: 1.75rem;
    --lumo-font-size-l: 1.375rem;
    --lumo-font-size-m: 1.125rem;
    --lumo-font-size-s: 1rem;
    --lumo-font-size-xs: 0.875rem;
    --lumo-font-size-xxs: 0.8125rem;
}

.app-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

vaadin-form-item {
    flex-direction: column;
    align-items: center;
}

vaadin-form-item > label {
    text-align: left;
    margin-left: -35%;
}

#logo {
    margin-top: 0;
    margin-bottom: 0;
}
